li {
  float: left;
}

ul {
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(3, 28, 50);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
}

.h1 {
  color: rgb(255, 255, 255);
}

#firststop,
#finalstop {
  color: rgb(250, 224, 21);
}
/* logo */
#img {
  height: 80px;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 125px;
  margin-left: 50px;
}

.selectmode {
  color: #f8b600;
  display: flex;
  display: inline-flex;
}

#stat,
#sdist {
  color: rgb(8, 6, 6);
}
.navcon {
  margin-left: 2rem;
}
.main {
  margin-left: 55%;
  padding-top: 25px;
}
label {
  width: 50%;
  margin-top: 1px;
  text-align: right;
  justify-items: right;
  padding-right: 40px;
  display: inline-block;
}

div {
  margin-top: 0.3rem;
}

.banner-area {
  background: url(./main.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.finalfare {
  color: #f8b600;
}

.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
}

.banner-left h1 {
  margin: 20px 0;
  font-size: 60px;
  text-transform: uppercase;
}

.banner-left p {
  margin: 20px 0px;
}

.primary-btn {
  background: #f8b600;
  border: none;
}
.primary-btn:hover {
  background: #222;
  color: #fff;
}
section {
  margin-top: 5rem;
  padding: 2.5rem;
}
.cal {
  margin-top: 3rem;
  float: left;
  width: 90px;
  margin-left: 70px;
}
.res {
  margin-top: 3rem;
  margin-left: 10px;
  width: 90px;
}
